{% extends 'learning_app/base.html' %}


{% block content %}

  <p>Topic: {{topic.text}}</p>

  <p> Entries : </p>
   <p><a href="{% url 'learning_app:new_entry' topic.id %}">add new </a></p>
   <ul>
     {% for entry in entries %}
       <li>
         <p>{{entry.date_added | date:'M d,Y H:i'}}</p>
         <p>{{entry.text | linebreaks}}</p>
         <p>
        <a href="{% url 'learning_app:edit_entry' entry.id %}">
         Edit entry</a></p>
       </li>
     {% empty %}
       <li> no enties </li>
     {% endfor %} 
   </ul>  


{% endblock content %}
